<!doctype html>
<html>

<head>
    <title>Tirage {{draw_name}}</title>
    <link rel="icon" href="{{url_for('static', filename='tree-fill.svg')}}" color="#0b5ed7">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap-icons.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="container mt-2">
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <div class="card">
                    <h5 class="card-header"><i class="bi bi-tree-fill"></i> Tirage {{draw_name}}</h5>
                    <div class="card-body">
                        <p>{{participant}}, tu fais un cadeau a:</p>
                        <div class="d-flex justify-content-center offset-sm-4 col-sm-4">
                            <h3>{{offers_to}}</h3>
                        </div>
                        <a class="btn btn-primary" href="/draws/{{draw_name}}" role="button">Retour <i
                                class="bi bi-snow"></i></a>
                    </div>
                    <div class="card-footer text-muted small">
                        Fait avec <i class="bi bi-heart"></i> mais plutôt à l'arrache.
                        <a target="_blank" href="https://github.com/nautik1/xmasdraw">Voyez
                            vous-même</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>