<!doctype html>
<html>

<head>
    <title>Tirage {{draw_name}}</title>
    <link rel="icon" href="/static/tree-fill.svg" color="#0b5ed7">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-icons.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="container mt-2">
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <div class="card">
                    <h5 class="card-header"><i class="bi bi-tree-fill"></i> Tirage {{draw_name}}</h5>
                    <div class="card-body">
                        <h4>Qui êtes-vous ?</h4>
                        <div class="table-responsive">
                            <table class="table align-items-center mb-0">
                                {% for participant in participants %}
                                <tr>
                                    <td>{{ participant.name }}</td>
                                    <td>
                                        {% if participant.offers_to %}
                                        <span class="badge rounded-pill bg-success">Déjà tiré !</span>
                                        {% else %}
                                        <form action="draw/{{participant.name}}" method="post">
                                            <button class="btn btn-primary" name="itsme" value="{{participant.name}}">
                                                C'est moi
                                            </button>
                                        </form>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>